h1 {
    color:rgb(51, 163, 145);
    text-align:center;
    font-size: 40px;
    text-underline-position: below;
    font-family: "Lucida Handwriting", "Cursive";
    
}

* {
    background-image: url('sdcfvg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
     background-size: cover;
    
}



h2{
color: rgb(224, 153, 153);
}
.logo p{
    
    color: thistle;
}
.logo{
    text-align: left;
    position: absolute;
       top: 8px;
      right: 20px;
     size: 1px;
     border-radius: 1mm;
      
  
  }
  .Image img{
    border: solid;
    color: rgb(228, 224, 11);
    display: flex;
   
    float: left;
    width: 13%;
    padding: 5px
  }
p{
position: fixed;     
text-align: center;    
bottom: 50px; 
width: 100%;
font-size: 8mm;
color: white;
font-family:'Brush Script MT', cursive;
}
